@import "./reset.css";

@font-face {
    font-family: 'Gilam';
    src: local('Gilam'); src: local('Gilam-Regular'),
    url('./fonts/Gilam-Trial-Regular.woff2') format('woff2'),
    url('./fonts/Gilam-Trial-Regular.woff') format('woff'),
    url('./fonts/Gilam-Trial-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilam';
    src: local('Gilam Bold'); src: local('Gilam-Bold'),
    url('./fonts/Gilam-Trial-Bold.woff2') format('woff2'),
    url('./fonts/Gilam-Trial-Bold.woff') format('woff'),
    url('./fonts/Gilam-Trial-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: normal;
    src: local('Circe'),
    url('./fonts/crc55.woff2') format('woff2'),
    url('./fonts/CRC55.woff') format('woff'),
    url('./fonts/crc55.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Gilam', sans-serif;
}


.first_page {
    width: 100%;
    background-image: url("./img/header-bg.jpeg");
    background-attachment: fixed;
    background-color: #0249b4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr 1461px 1fr;
    grid-template-rows: auto;
}

.header {
    display: flex;
    gap: 39px;
    justify-content: space-between;
    padding-top: 46px;
}

.icon_logo {
    display: inline-block;
    background-image: url("./img/logo_2_2.png");
    width: 216px;
    height: 33px;
    flex-grow: 1;
    vertical-align: bottom;
    background-size: cover;
}


.icon_phone {
    background-image: url("./img/icon_phone.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
}

.phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
    text-align: center;
    padding: 2px 25px;
}



.work_info_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    margin-top: 128px;
    color: #FFFFFF;
}

.work_info_text {
    font-weight: 400;
    font-size: 20px;
    margin-top: 40px;
    color: #FFFFFF;
}

.work_info {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(2, 468px);
    grid-gap: 30px;
    margin-top: 41px;
    margin-bottom: 80px;
}

.work_info_1, .work_info_2, .work_info_3, .work_info_4, .work_info_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 44px;
    padding-right: 44px;
}

.work_info_1 {
    background-color: #634F2C;
}

.work_info_2 {
    grid-column: span 2;
    background-color: #B4A385;
}

.work_info_3 {
    background-color: #E4B564;
}

.work_info_4 {
    background-color: #635A4A;
    grid-column: span 2;
}

.work_info_5 {
    background-color: #B08C4D;
    grid-column: span 2;
}

.second_page {
    width: 100%;
    background-image: url("./img/parallax-bg.jpeg");
    background-attachment: fixed;
    background-color: #E5E5E5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr 1461px 1fr;
    grid-template-rows: auto;
}

.equipment_park_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 80px;
}

.equipment_park {
    width: 100%;
    height: 900px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, minmax(467px, 1fr));
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 30px;
    margin-top: 94px;
    margin-bottom: 191px;
}

.equipment_vehicles_1 {
    padding-top: 44px;
    padding-left: 55px;
    background-color: #0E0E0E;
    grid-row: span 3;
    font-weight: 400;
}

.equipment_vehicles_2 {
    padding-top: 44px;
    padding-left: 55px;
    background-color: #242424;
    grid-row: span 4;
    font-weight: 400;
}

.equipment_vehicles_3 {
    padding-top: 44px;
    padding-left: 55px;
    grid-column: 3;
    grid-row: 1 / span 2;
    background-color: #1F1F1F;
}

.equipment_vehicles_4 {
    padding-top: 44px;
    padding-left: 55px;
    background-color: #1F1F1F;
    grid-column: 1;
    grid-row: span 4;
}

.equipment_vehicles_5 {
    padding-top: 40px;
    padding-left: 55px;
    margin-bottom: 20px;
    background-color: #E4B564;
    grid-column: 2;
    grid-row: span 3;
    color: #000000;
}

.equipment_vehicles_6 {
    padding-top: 44px;
    padding-left: 55px;
    background-color: #0E0E0E;
    grid-row: 3 / span 3;
    grid-column: 3;
}

.equipment_vehicles_7 {
    padding-top: 44px;
    padding-left: 55px;
    background-color: #0A0909;
    grid-column: 3;
    grid-row: span 2;
    font-weight: 700;
}


.third_page {
    width: 100%;
    background-image: url("./img/header-bg.jpeg");
    background-attachment: fixed;
    background-color: #0E0E0E;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 1fr 1461px 1fr;
    grid-template-rows: auto;
    font-family: 'Gilam', sans-serif;
}

.our_clients_projects {
    display: flex;
    justify-content: space-between;
    margin-top: 172px;
}

.our_clients_projects_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.all_project {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 40px;
    border: 1px solid #E4B564;
}


.our_clients {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 391px);
    margin-top: 72px;
    margin-bottom: 238px;
    text-align: center;
}

.client_1, .client_2, .client_3, .client_4, .client_5, .client_6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client_1, .client_6 {
    background-color: #634F2C;
}

.client_1 img, .client_6 img {
    width: 185px;
    height: 49px;
}

.client_2 {
    background-color: rgba(232, 210, 171, 0.76);
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    flex-direction: column;
}

.client_2_logo {
    width: 62px;
    height: 55px;
}

.client_2_name {
    width: 139px;
    height: 55px;
}

.client_3 {
    background-color: #E4B564;
}

.client_3 img, .client_4 img {
    width: 190px;
    height: 42px;
}

.client_4 {
    background-color: #635A4A;
}

.client_5 {
    background-color: #B08C4D;
}

.client_5 img {
    width: 119px;
    height: 53px;
}

